body.path-frontpage .page .main-content .container {
  max-width: 1250px; }
  body.path-frontpage .page .main-content .container main {
    align-items: center;
    text-align: center; }
    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 {
      margin-top: 105px;
      margin-bottom: 100px;
      max-width: 1250px; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 h2 span:not(.field--label-hidden) {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        padding: .2em 0;
        color: #373645; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 h2 span:not(.field--label-hidden)::after, body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 h2 span:not(.field--label-hidden)::before {
          content: "";
          position: relative;
          display: inline-block;
          width: 50%;
          height: 2px;
          vertical-align: middle;
          background: #cccccc;
          background-clip: border-box;
          background-clip: content-box;
          border-bottom: 1px solid #cccccc; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 h2 span:not(.field--label-hidden)::after {
          left: .5em;
          margin: 0 -50% 0 0; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 h2 span:not(.field--label-hidden)::before {
          left: -.5em;
          margin: 0 0 0 -50%; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row {
        width: 100%;
        display: flex;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        border-top: 5px solid #373645;
        border-bottom: 5px solid #6e9bca; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-title {
          font-size: 25px;
          font-weight: bold; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-body {
          color: #cccccc;
          font-size: 19px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node {
          background-color: #6e9bca;
          cursor: pointer;
          padding: 5px 10px;
          text-align: center;
          align-items: center;
          margin: 12px 0; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node a {
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            font-size: 14px; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node:hover {
            background-color: #5b8ec3; }
    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 h2 {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      padding: .2em 0;
      color: #373645; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 h2::after, body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 h2::before {
        content: "";
        position: relative;
        display: inline-block;
        width: 50%;
        height: 2px;
        vertical-align: middle;
        background: #cccccc;
        background-clip: border-box;
        background-clip: content-box;
        border-bottom: 1px solid #cccccc; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 h2::after {
        left: .5em;
        margin: 0 -50% 0 0; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 h2::before {
        left: -.5em;
        margin: 0 0 0 -50%; }
    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block {
      padding-top: 30px;
      padding-bottom: 35px; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block .view-content .views-view-grid .row .views-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block .view-content .views-view-grid .row .views-col .views-field-field-images {
          height: 120px;
          margin-bottom: 20px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block .view-content .views-view-grid .row .views-col .views-field-title {
          font-size: 20px;
          text-transform: uppercase;
          margin-bottom: 5px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block .view-content .views-view-grid .row .views-col .views-field-body {
          text-align: center;
          color: #cccccc;
          text-transform: uppercase;
          font-size: 12px;
          margin-bottom: 25px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block .view-content .views-view-grid .row .views-col .views-field-view-node {
          background-color: #6e9bca;
          cursor: pointer;
          padding: 5px 10px;
          text-align: center;
          align-items: center; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block .view-content .views-view-grid .row .views-col .views-field-view-node a {
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            font-size: 14px; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockservice-block-block-1 .view-service-block .view-content .views-view-grid .row .views-col .views-field-view-node:hover {
            background-color: #5b8ec3; }
    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 {
      position: relative; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 h2 {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        padding: .2em 0;
        color: #373645; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 h2::after, body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 h2::before {
          content: "";
          position: relative;
          display: inline-block;
          width: 50%;
          height: 2px;
          vertical-align: middle;
          background: #cccccc;
          background-clip: border-box;
          background-clip: content-box;
          border-bottom: 1px solid #cccccc; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 h2::after {
          left: .5em;
          margin: 0 -50% 0 0; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 h2::before {
          left: -.5em;
          margin: 0 0 0 -50%; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 > div:before {
        position: absolute;
        width: 99.1vw;
        height: calc(100% - 45px);
        content: "";
        transform: translateX(-50%);
        background: repeating-linear-gradient(-45deg, #cccccc, #cccccc 1px, #fff 2px, #fff 10px);
        z-index: -5; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block {
        padding-top: 40px;
        padding-bottom: 60px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row {
          gap: 16px;
          justify-content: center; }
          @media (max-width: 630px) {
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row {
              gap: 16px 0;
              grid-template-columns: 1fr; } }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col {
            background-color: #fff;
            max-width: 290px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid #373645; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-project-image {
              margin-bottom: 5px;
              width: 100%; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-title {
              font-size: 25px; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags {
              margin-bottom: 15px; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a {
                text-decoration: none; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/services/tags/web-development"] {
                color: #1bbc9b; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/services/tags/app-development"] {
                color: #e84c3d; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/services/tags/php-development"] {
                color: #9b58b5; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/services/tags/drupal-project"] {
                color: #28a9e0; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/taxonomy/term/1"] {
                color: #1bbc9b; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/taxonomy/term/2"] {
                color: #e84c3d; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/taxonomy/term/3"] {
                color: #9b58b5; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-field-tags a[href="/taxonomy/term/4"] {
                color: #28a9e0; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-view-node {
              background-color: #373645;
              cursor: pointer;
              padding: 5px 10px;
              text-align: center;
              align-items: center;
              margin-bottom: 10px; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-view-node a {
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                font-size: 14px; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .view-content .views-row .views-col .views-field-view-node:hover {
                background-color: #2c2b37; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .pager .pagination {
          background-color: transparent;
          margin: 60px auto;
          max-width: 1250px;
          justify-content: center; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .pager .pagination .page-link {
            padding: 6px 12px;
            color: #000;
            border-radius: 50%;
            border-color: transparent;
            background-color: transparent; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .pager .pagination .page-item.disabled {
            display: none; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .pager .pagination .page-item.is-active a, body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockprojects-block-block-1 .view-projects-block .pager .pagination .page-item.active a {
            background-color: #cccccc;
            z-index: 1; }
    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 {
      margin-top: 30px; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 h2 {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        padding: .2em 0;
        color: #373645; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 h2::after, body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 h2::before {
          content: "";
          position: relative;
          display: inline-block;
          width: 50%;
          height: 2px;
          vertical-align: middle;
          background: #cccccc;
          background-clip: border-box;
          background-clip: content-box;
          border-bottom: 1px solid #cccccc; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 h2::after {
          left: .5em;
          margin: 0 -50% 0 0; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 h2::before {
          left: -.5em;
          margin: 0 0 0 -50%; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row {
        margin-top: 25px;
        margin-bottom: 150px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col {
          display: flex;
          flex-direction: column;
          text-align: center;
          max-width: 310px;
          margin: 0 auto 30px auto; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-field-blocknodeteamfield-team-img {
            margin-bottom: 30px;
            filter: grayscale(100%); }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-field-blocknodeteamfield-team-img:hover {
              filter: grayscale(0%);
              transition: .3s; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-field-blocknodeteamtitle {
            font-size: 24px;
            text-transform: uppercase; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-field-blocknodeteamfield-team-posi {
            font-size: 14px;
            color: #cccccc;
            margin-bottom: 15px; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-extra-field-blocknodeteamlinks {
            text-align: center;
            background-color: #373645;
            cursor: pointer;
            padding: 5px 10px;
            text-align: center;
            align-items: center;
            max-width: 116px;
            margin: 0 auto 15px; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-extra-field-blocknodeteamlinks a {
              text-transform: uppercase;
              color: #fff;
              text-decoration: none;
              font-size: 14px; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-extra-field-blocknodeteamlinks:hover {
              background-color: #2c2b37; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-field-blocknodeteamfield-team-social {
            text-align: start;
            margin-left: 15px; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-field-blocknodeteamfield-team-social .social-media-links--platforms li a svg {
              color: #6e9bca; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-extra-field-blocknodeteamflag-like {
            text-align: end;
            margin-top: -31px;
            margin-right: 10px; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blockteam-block-block-1 .view-id-team_block .view-content .views-view-grid .row .views-col .block-extra-field-blocknodeteamflag-like a {
              margin-right: 45px; }
    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 {
      max-width: 1250px;
      position: relative; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 h2 {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        padding: .2em 0;
        color: #373645; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 h2::after, body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 h2::before {
          content: "";
          position: relative;
          display: inline-block;
          width: 50%;
          height: 2px;
          vertical-align: middle;
          background: #cccccc;
          background-clip: border-box;
          background-clip: content-box;
          border-bottom: 1px solid #cccccc; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 h2::after {
          left: .5em;
          margin: 0 -50% 0 0; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 h2::before {
          left: -.5em;
          margin: 0 0 0 -50%; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 > div:before {
        position: absolute;
        width: 99.1vw;
        height: calc(100% - 45px);
        content: "";
        transform: translateX(-50%);
        background: repeating-linear-gradient(-45deg, #cccccc, #cccccc 1px, #fff 2px, #fff 10px);
        z-index: -5; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-filters {
        padding-top: 10px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-filters .form--inline {
          display: flex;
          margin-top: 0;
          background-color: #f5f5f5;
          max-width: 424px; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-filters .form--inline .form-item {
            max-width: 340px;
            margin: 5px 4px 5px 3px; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-filters .form--inline .form-item input {
              border: 1px solid #cccccc; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-filters .form--inline .form-item input::placeholder {
                color: #cccccc; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-filters .form--inline .form-actions {
            margin: 7px 0 0 0; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-filters .form--inline .form-actions input {
              background-color: #67bfdc;
              color: #fff;
              border: none; }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row {
        justify-content: center;
        margin-top: 10px;
        gap: 10px;
        margin-bottom: 30px; }
        body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col {
          max-width: 600px;
          background-color: #fff;
          padding: 0; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) {
            margin-top: 20px; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first {
              display: flex;
              flex-direction: column;
              text-align: center;
              flex: 0 1 15%; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(1) span {
                font-size: 24px;
                text-transform: uppercase; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) {
                margin-top: -25px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) span {
                  font-size: 50px;
                  font-weight: bold;
                  color: #6e9bca; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) {
                margin-top: -19px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) span {
                  font-size: 18px;
                  color: #cccccc; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(4) {
                display: none; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second {
              display: flex;
              flex-direction: row;
              flex: 0 1 85%;
              font-size: 12px;
              letter-spacing: -0.5px;
              border-left: 1px solid #cccccc;
              margin-bottom: 19px; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-creator-img {
                margin-left: 5px; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name {
                margin-left: 5px;
                display: flex;
                flex-direction: column; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name {
                  display: flex; }
                  body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__label {
                    padding-right: 4px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #cccccc; }
                    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__label::after {
                      content: ''; }
                  body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__item {
                    padding-right: 4px;
                    text-transform: uppercase; }
                    body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__item:after {
                      content: '/';
                      margin-left: 2px; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-news-taxonomy {
                color: #6e9bca; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewscreated {
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
                text-transform: uppercase;
                color: #cccccc;
                margin-right: 18px; }
          body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) {
            justify-content: flex-end; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second {
              flex: 0 1 85%;
              border-left: 1px solid #cccccc;
              margin: 0 0 24px 20px;
              justify-content: flex-end;
              flex-direction: column; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewstitle {
                font-size: 24px;
                margin: 0 0 20px 10px;
                text-transform: uppercase;
                text-align: start; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewsbody {
                font-size: 12px;
                text-align: justify;
                letter-spacing: -1px;
                text-transform: uppercase;
                margin: 0 18px 15px 10px;
                line-height: 15px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewsbody p {
                  margin-bottom: 0; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks {
                display: flex;
                justify-content: flex-end;
                max-width: 120px;
                margin-left: auto;
                margin-right: 21px;
                background-color: #373645;
                cursor: pointer;
                padding: 5px 10px;
                text-align: center;
                align-items: center; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks a {
                  text-transform: uppercase;
                  color: #fff;
                  text-decoration: none;
                  font-size: 14px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks:hover {
                  background-color: #2c2b37; }
          @media (max-width: 600px) {
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) {
              display: flex;
              flex-direction: column; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first {
                flex-direction: row;
                align-items: center;
                flex: 1;
                border-bottom: 1px solid #cccccc; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(1) {
                  margin-left: 5px; }
                  body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(1) span {
                    font-size: 16px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) {
                  margin-top: 0;
                  margin-left: 5px;
                  margin-bottom: -1px; }
                  body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) span {
                    font-size: 18px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) {
                  margin-top: 0;
                  margin-left: 5px; }
                  body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) span {
                    font-size: 16px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(4) {
                  display: flex;
                  justify-content: flex-end;
                  margin-left: auto;
                  text-transform: uppercase;
                  color: #cccccc;
                  font-size: 13px;
                  margin-right: 18px; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second {
                flex: 1;
                margin-top: 5px;
                border: none; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-creator-img {
                  margin-left: 5px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewscreated {
                  display: none; }
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) {
              justify-content: flex-end; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second {
                flex: 1;
                margin: 0;
                border: none; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewstitle {
                  margin: 0 0 15px 0;
                  text-align: center; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewsbody {
                  margin: 0 10px 5px; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks {
                  margin-bottom: 15px; } }
          @media (max-width: 444px) {
            body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second {
              display: flex;
              flex-direction: column; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name {
                display: flex; }
                body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name {
                  margin: 0 auto; }
                  body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__item:after {
                    content: '';
                    margin-left: 0; }
              body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-news-taxonomy {
                color: #6e9bca; } }
      body.path-frontpage .page .main-content .container main article .layout .layout__region .block-views-blocknews-block-block-1 .view-news-block .view-empty {
        font-size: 20px;
        padding-bottom: 75px;
        margin-top: 50px;
        font-weight: bold; }
    body.path-frontpage .page .main-content .container main article .layout .block-views-blockclients-block-block-1 h2 {
      margin-top: 33px;
      margin-bottom: 50px;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      padding: .2em 0;
      color: #373645; }
      body.path-frontpage .page .main-content .container main article .layout .block-views-blockclients-block-block-1 h2::after, body.path-frontpage .page .main-content .container main article .layout .block-views-blockclients-block-block-1 h2::before {
        content: "";
        position: relative;
        display: inline-block;
        width: 50%;
        height: 2px;
        vertical-align: middle;
        background: #cccccc;
        background-clip: border-box;
        background-clip: content-box;
        border-bottom: 1px solid #cccccc; }
      body.path-frontpage .page .main-content .container main article .layout .block-views-blockclients-block-block-1 h2::after {
        left: .5em;
        margin: 0 -50% 0 0; }
      body.path-frontpage .page .main-content .container main article .layout .block-views-blockclients-block-block-1 h2::before {
        left: -.5em;
        margin: 0 0 0 -50%; }
    body.path-frontpage .page .main-content .container main article .layout .block-views-blockclients-block-block-1 .view-clients-block {
      margin-bottom: 120px; }

@media (max-width: 800px) {
  body.path-frontpage .page .main-content .container {
    max-width: 1250px; }
    body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 {
      margin-top: 50px;
      margin-bottom: 50px; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-title {
        font-size: 20px;
        font-weight: bold; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-body {
        color: #cccccc;
        font-size: 14px; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node {
        background-color: #6e9bca;
        cursor: pointer;
        padding: 5px 10px;
        text-align: center;
        align-items: center;
        margin: 12px 0; }
        body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node a {
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          font-size: 14px; }
        body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node:hover {
          background-color: #5b8ec3; } }
@media (max-width: 420px) {
  body.path-frontpage .page .main-content .container {
    max-width: 1250px; }
    body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 {
      margin-top: 50px;
      margin-bottom: 50px; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-title {
        font-size: 16px;
        font-weight: bold; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-body {
        color: #cccccc;
        font-size: 13px; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node {
        background-color: #6e9bca;
        cursor: pointer;
        padding: 5px 10px;
        text-align: center;
        align-items: center;
        margin: 12px 0; }
        body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node a {
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          font-size: 14px; }
        body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node:hover {
          background-color: #5b8ec3; } }
@media (max-width: 370px) {
  body.path-frontpage .page .main-content .container {
    max-width: 1250px; }
    body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 {
      margin-top: 50px;
      margin-bottom: 50px; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-title {
        font-size: 20px;
        font-weight: bold; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-body {
        color: #cccccc;
        font-size: 12px; }
      body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node {
        background-color: #6e9bca;
        cursor: pointer;
        padding: 5px 10px;
        text-align: center;
        align-items: center;
        margin: 12px 0;
        font-size: 14px; }
        body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node a {
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          font-size: 14px; }
        body.path-frontpage .page .main-content .container main .block-system-main-block article .layout .layout__region .block-views-blockabout-block-1 .view-about .view-content .views-row .views-field-view-node:hover {
          background-color: #5b8ec3; } }

/*# sourceMappingURL=homepage.css.map */
