.page .main-content main .block-system h2 {
  padding-top: 1px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding: .2em 0;
  color: #373645; }
  .page .main-content main .block-system h2::after, .page .main-content main .block-system h2::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #cccccc;
    background-clip: border-box;
    background-clip: content-box;
    border-bottom: 1px solid #cccccc; }
  .page .main-content main .block-system h2::after {
    left: .5em;
    margin: 0 -50% 0 0; }
  .page .main-content main .block-system h2::before {
    left: -.5em;
    margin: 0 0 0 -50%; }
.page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col {
  margin-bottom: 30px; }
  .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) {
    margin-top: 20px; }
    .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 0 1 15%; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(1) span {
        font-size: 24px;
        text-transform: uppercase; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) {
        margin-top: -25px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) span {
          font-size: 50px;
          font-weight: bold;
          color: #6e9bca; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) {
        margin-top: -19px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) span {
          font-size: 18px;
          color: #cccccc; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(4) {
        display: none; }
    .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second {
      display: flex;
      flex-direction: row;
      flex: 0 1 85%;
      font-size: 12px;
      letter-spacing: -0.5px;
      border-left: 1px solid #cccccc;
      margin-bottom: 19px; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-creator-img {
        margin-left: 5px; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name {
        margin-left: 5px;
        display: flex;
        flex-direction: column; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name {
          display: flex; }
          .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__label {
            padding-right: 4px;
            font-weight: 400;
            text-transform: uppercase;
            color: #cccccc; }
            .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__label::after {
              content: ''; }
          .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__item {
            padding-right: 4px;
            text-transform: uppercase; }
            .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__item:after {
              content: '/';
              margin-left: 2px; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-news-taxonomy {
        color: #6e9bca; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewscreated {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        text-transform: uppercase;
        color: #cccccc;
        margin-right: 18px; }
  .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) {
    justify-content: flex-end; }
    .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second {
      flex: 0 1 85%;
      border-left: 1px solid #cccccc;
      margin: 0 0 24px 20px;
      justify-content: flex-end;
      flex-direction: column; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewstitle {
        font-size: 24px;
        margin: 0 0 20px 10px;
        text-transform: uppercase;
        text-align: start; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewsbody {
        font-size: 12px;
        text-align: justify;
        letter-spacing: -1px;
        text-transform: uppercase;
        margin: 0 18px 15px 10px;
        line-height: 15px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewsbody p {
          margin-bottom: 0; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks {
        display: flex;
        justify-content: flex-end;
        max-width: 120px;
        margin-left: auto;
        margin-right: 21px;
        background-color: #373645;
        cursor: pointer;
        padding: 5px 10px;
        text-align: center;
        align-items: center; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks a {
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          font-size: 14px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks:hover {
          background-color: #2c2b37; }
  @media (max-width: 600px) {
    .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) {
      display: flex;
      flex-direction: column; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first {
        flex-direction: row;
        align-items: center;
        flex: 1;
        border-bottom: 1px solid #cccccc; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(1) {
          margin-left: 5px; }
          .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(1) span {
            font-size: 16px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) {
          margin-top: 0;
          margin-left: 5px;
          margin-bottom: -1px; }
          .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(2) span {
            font-size: 18px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) {
          margin-top: 0;
          margin-left: 5px; }
          .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(3) span {
            font-size: 16px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--first > div:nth-child(4) {
          display: flex;
          justify-content: flex-end;
          margin-left: auto;
          text-transform: uppercase;
          color: #cccccc;
          font-size: 13px;
          margin-right: 18px; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second {
        flex: 1;
        margin-top: 5px;
        border: none; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-creator-img {
          margin-left: 5px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewscreated {
          display: none; }
    .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) {
      justify-content: flex-end; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second {
        flex: 1;
        margin: 0;
        border: none; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewstitle {
          margin: 0 0 15px 0;
          text-align: center; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-field-blocknodenewsbody {
          margin: 0 10px 5px; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(2) .layout__region--second .block-extra-field-blocknodenewslinks {
          margin-bottom: 15px; } }
  @media (max-width: 444px) {
    .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second {
      display: flex;
      flex-direction: column; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name {
        display: flex; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name {
          margin: 0 auto; }
          .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-writer-name .field--name-field-writer-name .field__item:after {
            content: '';
            margin-left: 0; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-content .views-row .views-col .node__content > div:nth-child(1) .layout__region--second .block-field-blocknodenewsfield-news-taxonomy {
        color: #6e9bca; } }
.page .main-content main .block-system .views-element-container .view-news-block .pager .pagination {
  background-color: transparent;
  margin: 60px auto;
  max-width: 1250px;
  justify-content: center; }
  .page .main-content main .block-system .views-element-container .view-news-block .pager .pagination .page-link {
    padding: 6px 12px;
    color: #000;
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent; }
  .page .main-content main .block-system .views-element-container .view-news-block .pager .pagination .page-item.disabled {
    display: none; }
  .page .main-content main .block-system .views-element-container .view-news-block .pager .pagination .page-item.is-active a, .page .main-content main .block-system .views-element-container .view-news-block .pager .pagination .page-item.active a {
    background-color: #cccccc;
    z-index: 1; }
.page .main-content main .block-system .views-element-container .view-news-block .view-filters {
  margin-bottom: 0px; }
  .page .main-content main .block-system .views-element-container .view-news-block .view-filters .form--inline {
    display: flex;
    margin-top: 25px;
    background-color: #f5f5f5;
    max-width: 424px; }
    .page .main-content main .block-system .views-element-container .view-news-block .view-filters .form--inline .form-item {
      max-width: 340px;
      margin: 5px 4px 5px 3px; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-filters .form--inline .form-item input {
        border: 1px solid #cccccc; }
        .page .main-content main .block-system .views-element-container .view-news-block .view-filters .form--inline .form-item input::placeholder {
          color: #cccccc; }
    .page .main-content main .block-system .views-element-container .view-news-block .view-filters .form--inline .form-actions {
      margin: 7px 0 0 0; }
      .page .main-content main .block-system .views-element-container .view-news-block .view-filters .form--inline .form-actions input {
        background-color: #67bfdc;
        color: #fff;
        border: none; }
.page .main-content main .block-system .views-element-container .view-news-block .view-empty {
  font-size: 20px;
  padding-bottom: 75px;
  margin-top: 50px;
  font-weight: bold; }

/*# sourceMappingURL=news.css.map */
