.page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectstitle {
  margin: -14px auto 0px;
  background-color: #fff; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectstitle span {
    display: flex;
    justify-content: start;
    text-transform: uppercase;
    font-weight: bold; }
.page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-project-image {
  padding: 0px 0px 50px 40px;
  float: right; }
.page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsbody {
  margin-top: 50px; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsbody p {
    font-size: 16px;
    text-align: start; }
.page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags {
  display: flex;
  justify-content: start;
  margin-bottom: 50px; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a {
    text-decoration: none; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/taxonomy/term/1"] {
    color: #1bbc9b; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/taxonomy/term/2"] {
    color: #e84c3d; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/taxonomy/term/3"] {
    color: #9b58b5; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/taxonomy/term/4"] {
    color: #28a9e0; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/services/tags/web-development"] {
    color: #1bbc9b; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/services/tags/app-development"] {
    color: #e84c3d; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/services/tags/php-development"] {
    color: #9b58b5; }
  .page .main-content main .region .block-system-main-block .node--projects-full .node__content .layout--onecol .layout__region--content .block-field-blocknodeprojectsfield-tags a[href="/services/tags/drupal-project"] {
    color: #28a9e0; }

/*# sourceMappingURL=project_node.css.map */
