@import "utils/mixin";
@import "utils/variables";
// stylization of global styles

// adding a mixin for all titles
.page {
  .main-content {
    container{
      main {
        .block-system {
          h2 {
            span:not(.field--label-hidden) {
              @include homepage-title
            }
          }
        }
      }
    }
  }
}

// remove padding for paragraphs
p{
  margin-bottom:0 !important;
}

//centering the row
.row{
  margin-right: auto !important;
  margin-left:auto !important;
}
