@import "mixin";
@import "variables";
.page{
  .main-content{
    main{
      .block-system{
        .views-element-container{
          .view-all-projects{
            .view-content{
              .views-row{
                text-align: center;
                .views-col {
                  text-align:center;
                  @include project-card;
                  margin-bottom: 30px;
                }
              }
            }
            @include pagination;
          }
        }
      }
    }
  }
}
