.page{
  .main-content{
    main{
      .region{
        .block-system-main-block{
          article.node--service-full{
            .node__content{
              .layout--onecol{
                .layout__region--content{
                  .block-field-blocknodeservicetitle{
                    margin-top: -31px;
                    span{
                      font-size:2em;
                      background-color: white;
                      padding: 0px 5px;
                      text-transform: uppercase;
                    }
                    @media(max-width:500px){
                      margin-top: -25px;
                      span{
                        font-size: 1.5em;
                      }
                    }
                  }
                  margin-bottom: 50px;
                }
              }
              .layout--twocol-section{
                .layout__region--first{
                  .block-field-blocknodeservicefield-images{
                    margin-bottom: 30px;
                  }
                  .block-field-blocknodeservicecreated{
                    font-size:20px;
                  }
                }
                .layout__region--second{
                  .block-field-blocknodeservicebody{
                    .field{
                      p{
                        font-size: 16px;
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
