// stylization of the about page
.page{
  .main-content{
    main{
      .region-content{
        .block-system-main-block{
          .node--article-full{
            .node__content{
              margin-bottom: 50px;
              .layout__region{
                .block-field-blocknodearticletitle{
                  margin-top: -30px;
                  span{
                    font-size: 2rem;
                    font-weight: bold;
                  }
                }
                .block-field-blocknodearticlebody{
                  text-transform:uppercase;
                  text-align:start;
                }
              }
            }
          }
        }
      }
    }
  }
}
