@import "../utils/mixin";
@import "../utils/variables";

// stylization of the contact page
.page{
  .main-content{
    main{
      .region-content{
        .block-system-main-block{
          .node--page-full{
            .node__content{
              .layout--twocol-section{
                margin-top: 50px;
                .layout__region--first{
                  .block-webform{
                    form{
                      border-radius: 0;
                      .form-item-name{
                        @include input
                      }
                      .form-item-email{
                        @include input
                      }
                      .form-item{
                        margin-bottom:14px;
                        margin-top:0;
                        @include input
                      }
                      .webform-telephone--wrapper.form-item{
                        margin-bottom:0px;
                      }
                      .form-item-message{
                        textarea{
                          height:197px;
                          resize: none;
                          width:95%;
                          border-radius: 0;
                          padding: 15px 10px;
                          &::placeholder{
                            font-size: 16px;
                          }
                        }
                      }
                      .form-actions{
                        justify-content: flex-start;
                        display: flex;
                        margin-bottom: 0;
                        margin-top:0;
                        input{
                          background-color: $red-input;
                          border: none;
                          padding: 13px 15px;
                          font-size: 20px;
                          margin-bottom:20px;
                        }
                      }
                    }
                  }
                }
                .layout__region--second{
                  margin-bottom: 100px;
                  .block-field-blocknodepagebody{
                    text-align: start;
                    margin-bottom:37px;
                  }
                  .block-field-blocknodecontact-usfield-map{
                    padding: 0;
                    text-align: start;
                    iframe{
                      max-width: 460px;
                      width:100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
