@import "../utils/mixin";
@import "../utils/variables";
// styles for the search results page
.page{
  .main-content{
    .region{
      form.search-form{
        #edit-basic{
          margin-bottom: 100px;
          .form-item{
            input{
              width: 280px;
              border-radius: 0;
              border: 1px solid $gray;
              height: 37px;
            }
          }
          .form-submit{
            margin-top:-3px;
            border-radius: 0;
            border: 1px solid $gray;
            color: $black;
            font-size: 15px;
            background-color: $white;
          }
        }
        .search-help-link{
          display:none;
        }
        .search-advanced{
          display:none;
        }
      }
      h2 {
        &:nth-of-type(2) {
          margin-bottom: 50px;
          font-size: 20px;
          border-top: 1px solid $gray;
          &::before {
            top: 0;
            left: 0;
            width: 0;
            height: 0;
          }
        }
      }
      .item-list{
        .search-results{
          margin: 0 auto 30px auto;
          padding:0;

          li{
            margin:0 0 30px 0;
          }
          h3.search-result__title{
            a{
              text-decoration:none;
              color: $light-blue;
              text-transform: uppercase;
            }
          }
          div.search-result__snippet-info{
            .search-result__snippet{
              color: $gray;

            }
            .search-result__info{
              display:none;
            }
          }
        }
      }
      .pager{
        @include pagination
      }
    }
  }
}

@media(max-width: 405px){
  .page{
    .main-content{
      .region{
        form.search-form{
          #edit-basic{
            .form-item{
              input{
                width: 200px;
              }
            }
            .form-submit{
              margin-left:0px;
            }
          }
        }
      }
    }
  }
}
