@import "../utils/variables";

// styles for the service node
.page{
  .main-content{
    main{
      .region-content{
        .block-system-main-block{
          .node--service{
            .node__content{
              .block-field-blocknodeservicetitle{
                margin: -14px auto 0px;
                background-color: $white;
                span{
                  display:flex;
                  justify-content: start;
                  text-transform: uppercase;
                  font-weight: bold;
                }
              }
              .block-field-blocknodeservicefield-images{
                padding: 0px 0px 50px 40px;
                float: right;
              }
              .block-field-blocknodeservicebody{
                margin-top: 50px;
                margin-bottom: 50px;
                p{
                  font-size: 16px;
                  text-align: start;
                }
              }
            }
          }
        }
      }
    }
  }
}
